[Unit]
Description=Waybar
After=hyprland-session.target
Wants=hyprland-session.target

[Service]
ExecStart=/usr/bin/waybar
Restart=always
RestartSec=1

[Install]
WantedBy=hyprland-session.target
